body {
    margin: 0px;
    font-family: PT Sans;
}

.menu-container {
    background-color: #1E3190;
    height: 100vh;
    width: 20%;
    z-index: 2;
    position: absolute;
    left: 0;
}

.menu-logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 135px;
}

.all-hrefs {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.single-href {
    color: white;
    font-size: 20px;
    text-decoration: none;
    width: 100%;
    margin: 10px 0px;
    margin-left: 50px;
}

.single-href:hover {
    color: lightgray;
    cursor: pointer;
    margin-left: 60px;
}