body {
    margin: 0px;
    font-family: PT Sans;
}

.menu-container {
    background-color: #1E3190;
    height: 100vh;
    width: 200px;
    z-index: 2;
    position: absolute;
    left: 0;
}

.menu-logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 135px;
    cursor: pointer;
}


/* menu points */

.all-hrefs {
    width: 100%;
    height: 55vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.single-href {
    color: white;
    font-size: 20px;
    text-decoration: none;
    width: 100%;
    margin: 10px 0px;
    margin-left: 50px;
}

.single-href:hover {
    color: lightgray;
    cursor: pointer;
    margin-left: 60px;
}


/* menu profile pic & profile name */

.profile {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

.profile-pic-div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}

.profile-pic-div img {
    height: 70px;
    border-radius: 50px;
    border: 3px solid rgb(0, 0, 0);
    padding: 1px;
    background-color: white;
    cursor: pointer;
}

.username {
    font-size: 20px;
    color: white;
    margin-top: 10px;
    margin-bottom: 30px;
    cursor: pointer;
}

.log-out {
    color: white;
    opacity: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.log-out:hover {
    text-decoration: underline;
    cursor: pointer;
}


/* tables */

.main-div {
    background-color: rgb(250, 250, 250);
    position: absolute;
    left: 200px;
    height: 100vh;
    width: 86vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.all-tables {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25px;
}

.whole-table-position {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.headline {
    color: #1E3190;
    font-size: 20px;
}

.single-table {
    width: 275px;
    height: 70vh;
    box-shadow: #edededd8 0 10px 10px;
    background-color: white;
    border-radius: 10px;
    margin-right: 20px;
}