body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    position: absolute;
}

.addtaskTitel {
    padding-left: 20%;
    font-size: 20px;
}

.inputContain {
    display: flex;
    justify-content: space-around;
    height: 75vh;
    width: 90vw;
    background-color: rgb(242, 239, 248);
    border-radius: 10px;
    flex-wrap: wrap;
    margin-left: 10%;
}

.inputStyle {
    outline: none;
    width: 25.9vw;
    height: 6vh;
    color: #808184;
    border-radius: 5px;
    box-shadow: 3px 3px #ccc;
    cursor: pointer;
    border: 1px solid #ccc;
    font-weight: bolder;
    font-size: 20px;
}

.inputDescriptionField {
    width: 25.4vw;
    height: 20vh;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 3px 3px #ccc;
    color: #808184;
    font-size: 20px;
}

p {
    color: #1E3190;
    font-weight: bold;
    font-size: 24px;
    margin: 14% 0 8px 0;
}

.avatar {
    border-radius: 50%;
    width: 63px;
    height: 63px;
    cursor: pointer;
}

.avartarPicker {
    display: flex;
}

.avarta-selected {
    opacity: 1;
}

button {
    outline: none;
    border: 1px solid rgb(134, 133, 133);
    width: 12vw;
    height: 6vh;
    border-radius: 5px;
    font-size: 18px;
    background-color: white;
    cursor: pointer;
    box-shadow: 3px 3px #ccc;
    color: #1E3190;
}

.buttonStayl {
    font-weight: bolder;
}

.buttonContain {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}

button:hover {
    background-color: #1E3190;
    color: #ccc;
}

.userNames {
    color: #1E3190;
    font-size: 12px;
    margin: 2px;
    cursor: pointer;
}

.userContain {
    width: 90px;
    height: 90px;
    opacity: 0.4;
}

.avarta-selected {
    opacity: 1;
}


/* '-----------------New Task-------JS --------------' */

.taskCreated {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 500px;
    height: 200px;
    border-radius: 5px;
    background-color: rgb(242, 239, 248);
    ;
    box-shadow: 3px 3px #ccc;
    position: absolute;
    top: 30%;
    left: 40%;
    cursor: pointer;
}

.taskCreated button {
    margin: 10% 0 0 0;
}

.d-none {
    display: none;
}

.menu-button-img {
    height: 80px;
    object-fit: cover;
    display: none;
}

@media (max-width: 1200px) {
    .taskCreated {
        top: 40%;
        max-width: 100vw;
        position: absolute;
        left: 25%;
    }
    .inputBox {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .buttonStayl {
        font-size: 10px;
        margin-left: 20px;
    }
    .inputContain {
        height: auto;
        padding-bottom: 5%;
        width: 80% !important;
    }
    .addtaskTitel {
        padding-left: 11%;
        font-size: 20px;
        margin-top: 8rem;
    }
    .inputStyle {
        width: 40vw;
    }
    .inputDescriptionField {
        width: 40vw;
    }
    .avartarPicker {
        margin-left: 15px;
    }
    .buttonStayl {
        font-size: 15px;
    }
}

@media (max-width: 900px) {
    .taskCreated {
        left: 20%;
    }
}

@media (max-width: 650px) {
    button {
        width: 20vw;
    }
    .buttonStayl {
        font-size: 10px;
        margin-left: 10px;
    }
    .taskCreated {
        width: 400px;
        height: 180px;
        top: 48%;
        left: 16%;
    }
}

@media (max-width: 550px) {
    .taskCreated {
        width: 350px;
        height: 150px;
        left: 8%;
    }
    button {
        width: 28vw;
    }
}

@media (max-width: 400px) {
    .taskCreatedButton {
        width: 20vw;
    }
    .taskCreated {
        width: 300px;
        height: 120px;
        top: 45%;
    }
    .addtaskTitel {
        padding-left: 11%;
        font-size: 20px;
    }
    button {
        width: 28vw;
    }
    .addtaskTitel {
        padding-left: 11%;
        font-size: 16px;
    }
    p {
        font-size: 18px;
    }
    .buttonStayl {
        font-size: 10px;
        margin-left: 10px;
    }
}


/* #closed{

    z-index: 1;
    background-color: rgb(250, 250, 250);
    position: absolute;
    left: 200px;
    height: 100vh;
    width: 86vw;
    display: flex;
    justify-content: center;
    align-items: center;
  
   
 } */