<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="templates.css">
    <script src="templates.js"></script>

    <title>

    </title>
</head>

<body>
    <div class="menu-container">
        <div class="menu-logo">
            <img src="img/logo.png">
        </div>
        <div class="all-hrefs">
            <a class="single-href" id="board-menu-point" href="">Board</a>
            <a class="single-href" id="backlog-menu-point" href="">Backlog</a>
            <a class="single-href" id="addtask-menu-point" href="">Add Task</a>
            <a class="single-href" id="help-menu-point" href="">Help</a>
        </div>
        <div class="profile">
            <div class="profile-pic-div">
                <img class="profile-pic" src="img/profile-pic2.png">
            </div>
            <div id="username" class="username">
                Max
            </div>
        </div>
        <div onclick="logOut()" class="log-out">
            Ausloggen
        </div>
    </div>

    <div class="all-tables">
        <div class="single-table"></div>
    </div>
</body>

</html>